MCP_HOST=127.0.0.1
MCP_PORT=3000

HMC_TMUX_SESSION=hmc
HMC_VERSION=1.21.4
HMC_LAUNCHER_COMMAND=java -jar "./headlessmc-launcher.jar"
HMC_SCREENSHOTS_DIR=$HOME/Library/Application Support/minecraft/screenshots
